<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.bayra.driver">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:label="Bayra Driver"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"
        android:hardwareAccelerated="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- THE IMMORTAL BEACON SERVICE -->
        <service android:name=".BeaconService" android:enabled="true" android:exported="false" />
    </application>
</manifest>
